@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Tipography */
	font-family: 'Ubuntu';
	font-size: 14px;
}

:root {
	/* Primary */
	--marine-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry-red: hsl(354, 84%, 57%);

	/* Neutral */
	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--white: hsl(0, 0%, 100%);
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-gray);
}

.wrapper {
	width: 750px;
	height: 600px;
	display: flex;
	background-color: var(--white);
	border-radius: 20px;
}

/* Aside */
.aside {
	width: 35%;
	border-radius: 20px;
	background-image: url('./assets/images/bg-sidebar-desktop.svg');
	background-position: center;
	background-size: cover;
	margin: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
}

.steps {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--white);
}

.steps p {
	font-weight: 700;
	font-size: 12px;
}

.step-span {
	color: var(--cool-gray);
	font-weight: 400;
}

.number {
	font-size: 14px;
	font-weight: 700;
	border: 1px solid white;
	border-radius: 50%;
	padding: 7px 10px;
}

.number-selected {
	background-color: var(--light-blue);
	color: var(--marine-blue);
}

/* main */
main {
	width: 65%;
	height: 100%;
	display: flex;
	align-items: center;
}

/* Personal Info */
.personal-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	padding: 0px 30px;
}

.personal-info-header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.personal-info-header h2 {
	color: var(--marine-blue);
	font-weight: 700;
	font-size: 1.9rem;
}

.personal-info-header p {
	color: var(--cool-gray);
	font-size: 12.5px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	color: var(--marine-blue);
}

.form > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input {
	color: var(--marine-blue);
	padding: 10px;
	border-radius: 5px;
	outline: none;
	font-weight: 700;
	cursor: pointer;
	border: 1px solid var(--light-gray);
}

.input:hover {
	border-color: var(--purplish-blue);
}

.input::placeholder {
	color: var(--cool-gray);
	font-weight: 700;
}

.input-header {
	display: flex;
	justify-content: space-between;
}

.error {
	color: var(--strawberry-red);
	font-weight: 700;
}

.border-error {
	border-color: var(--strawberry-red);
}

.button-next {
	align-self: flex-end;
	padding: 10px 20px;
	color: var(--white);
	background-color: var(--marine-blue);
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.1rem;
}

/* Select plan */
.select-plan {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	padding: 0px 30px;
}

.select-plan-header {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.select-plan-header h2 {
	font-size: 28px;
	color: var(--marine-blue);
}

.select-plan-header p {
	color: var(--cool-gray);
}

.plans-options {
	height: 40%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80% 20%;
	grid-template-areas:
		'arcade advanced pro'
		'radio  radio    radio';
	gap: 10px;
}

.plans-options-error::after {
	width: 300%;
	content: 'choose an option';
	text-align: center;
	color: var(--strawberry-red);
	font-weight: 700;
}

.plan-option {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	border: 2px solid var(--light-gray);
	cursor: pointer;
}

.plan-option:hover {
	border-color: var(--pastel-blue);
}

.plan-option-selected {
	border-color: var(--pastel-blue);
	background-color: var(--alabaster);
}

.option-image {
	padding: 10px;
}

.text-options {
	padding: 10px;
	color: var(--marine-blue);
	font-weight: 700;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text-options span {
	color: var(--cool-gray);
}

.yearly-text {
	color: var(--marine-blue);
	font-weight: 100;
	font-size: 12px;
}

.arcade {
	grid-area: arcade;
}

.advanced {
	grid-area: advanced;
}

.pro {
	grid-area: pro;
}

.radio-option {
	grid-area: radio;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: var(--alabaster);
	font-weight: 700;
	border-radius: 5px;
	color: var(--cool-gray);
}

.radio-option-selected {
	color: var(--marine-blue);
}

.selector {
	width: 40px;
	height: 17px;
	border-radius: 15px;
	background-color: var(--marine-blue);
	display: flex;
	align-items: center;
}

.montlhy {
	cursor: pointer;
}

.yearly {
	cursor: pointer;
}

.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--white);
	margin-left: 2px;
}

.circleRight {
	animation: circleMoveRight 1s forwards;
}

.circleLeft {
	animation: circleMoveLeft 1s forwards;
}

@keyframes circleMoveRight {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(20px);
	}
}

@keyframes circleMoveLeft {
	0% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0px);
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.button-back {
	background-color: transparent;
	border: none;
	color: var(--cool-gray);
	font-weight: 700;
	font-size: 1.1rem;
	cursor: pointer;
}

.button-back:hover {
	color: var(--marine-blue);
}

/* Add-ons Section */
.add-ons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	padding: 0px 30px;
}

.add-ons-header h2 {
	padding-bottom: 5px;
	font-size: 28px;
	color: var(--marine-blue);
}

.add-ons-header p {
	font-weight: 400;
	color: var(--cool-gray);
}

.add-ons-options {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.add-ons-options article {
	border: 1px solid var(--light-gray);
	border-radius: 10px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-ons-text-wrapper p {
	color: var(--marine-blue);
	font-weight: 700;
}

.add-ons-text-wrapper span {
	color: var(--cool-gray);
	font-weight: 400;
	font-size: 12px;
}

.add-on-price p {
	font-weight: 700;
	color: var(--purplish-blue);
}

.add-ons-options-selected {
	border-color: var(--purplish-blue);
	background-color: var(--light-blue);
}

.add-ons-text-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Summary Section */
.summary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	padding: 0px 30px;
}

.summary-header h2 {
	padding-bottom: 5px;
	font-size: 28px;
	color: var(--marine-blue);
}

.summary-header p {
	font-weight: 400;
	color: var(--cool-gray);
}

.summary-info {
	display: flex;
	flex-direction: column;
	height: 60%;
	color: var(--light-gray);
	font-weight: 700;
}

.options-selected {
	background-color: var(--alabaster);
	border-radius: 10px;
	padding: 15px;
}

.plan-selected-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--light-gray);
	padding-bottom: 15px;
}

.plan-selected-wrapper div p {
	margin-bottom: 5px;
}

.plan-selected-text {
	color: var(--marine-blue);
	font-weight: 700;
	font-size: 16px;
}

.plan-selected-change {
	text-decoration: underline;
	cursor: pointer;
}

.plan-selected-price {
	color: var(--marine-blue);
	font-size: 16px;
}

.add-on {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}

.add-on-price {
	color: var(--marine-blue);
}

.total-price-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.total-price-number {
	color: var(--purplish-blue);
	font-size: 16px;
}

/* Footer */
.attribution {
	position: fixed;
	bottom: 0;
	width: 100vw;
	margin: auto;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* */

.invisible {
	display: none;
}
